# Node modules
node_modules

# Arquivos de build existentes (se houver)
dist

# Logs
logs
*.log
npm-debug.log*

# Arquivos do sistema operacional
.DS_Store

# Arquivos de ambiente
.env
.env.*
!.env.example

# Diretórios de cache
.npm
.cache

# Arquivos de VSCode
.vscode

# Diretórios de testes
coverage
.nyc_output

# Arquivos temporários
tmp
temp

# Git e arquivos relacionados
.git
.gitignore

# README e outros arquivos de documentação
README.md
CHANGELOG.md
LICENSE